@model KurumsalWeb.Models.Model.Yorum

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2><i class="far fa-comments"></i>Yorum Onaylama</h2>
<hr />

<section class="panel">
    <header class="panel-heading">
        Yorum Onaylama
    </header>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <label class="control-label col-md-2">Ad Soyad:</label>
                    <div class="col-md-10">
                        <label class="control-label">@Model.AdSoyad</label>
                        @Html.ValidationMessageFor(model => model.AdSoyad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Email:</label>
                    <div class="col-md-10">
                        <label class="control-label">@Model.Email</label>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Yorum:</label>
                    <div class="col-md-10">
                        <label class="control-label">@Model.İcerik</label>
                        @Html.ValidationMessageFor(model => model.İcerik, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Onay, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Onay)
                            @Html.ValidationMessageFor(model => model.Onay, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    </div>
</section>