<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="widget">
                <h5 class="widgetheading">Bize Ulaşın</h5>
                <address>
                    <strong>Firma Adresimiz:</strong><br>
                    @ViewBag.İletisim.Adres
                </address>
                <p>
                    <i class="icon-phone"></i>Telefon: @ViewBag.İletisim.Telefon <br>
                    <i class="icon-envelope-alt"></i>Fax: @ViewBag.İletisim.Fax
                </p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget">
                <h5 class="widgetheading">Sayfalar</h5>
                <ul class="link-list">
                    <li><a href="#">Press release</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Career center</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget">
                <h5 class="widgetheading">Son Yazılar</h5>
                <ul class="link-list">
                    @foreach (var item in ViewBag.Blog)
                    {
                        <li><a href="/Home/BlogDetay/@item.Id">@item.Baslik</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget">
                <h5 class="widgetheading">Hizmetlerimiz</h5>
                <div class="flickr_badge">
                    @foreach (var item in ViewBag.Hizmet)
                    {
                        <img src="@item.ResimURL" height="75" width="75" />
                    }
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="copyright">
                    <p>&copy; Moderna Theme. All right reserved.</p>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Moderna
                        -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="social-network">
                    <li><a href="@ViewBag.İletisim.Facebook" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="@ViewBag.İletisim.Twitter" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="@ViewBag.İletisim.Instagram" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
